.ProductsList {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 0 0 0 10px;
  height: 285px;
}

.ProductsList::-webkit-scrollbar {
  height: 5px;
}

.ProductsList::-webkit-scrollbar-thumb {
  background-color: #27ae60;
}

@media screen and (min-width: 1024px) {
  .ProductsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    height: fit-content;
    flex-wrap: wrap;
    width: 588px;
  }
}
