.App {
  text-align: center;
}

.App h4 {
  color: #333333;
  top: 75px;
  margin: 110px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.mainContainer {
  background-color: white;
  margin-top: 10px;
}
.cartContainer {
  margin: 0px 10px;
  background: #f5f5f5;
}

.cartTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0 0 0;
  width: calc(100% - 10px);
  height: 65px;
  border-radius: 5px 5px 0px 0px;
  background: #27ae60;
  color: white;
  padding-left: 10px;
}

.lineBreak {
  color: #e0e0e0;
  background-color: #e0e0e0;
  height: 1px;
  width: 90%;
  margin: 5px auto;
}
